# 停止在父类中查找注解
config.stopBubbling=true

# 生成的 toString 方法中调用父类的方法
lombok.toString.callSuper=CALL

# 生成的 equals 和 hashCode 方法中调用父类的方法
lombok.equalsAndHashCode.callSuper=CALL

# 清除 lombok.val 的用法标记
clear lombok.val.flagUsage

# 使用 lombok.val 时出现错误
lombok.val.flagUsage=ERROR

# 清除 lombok.accessors 的用法标记
clear lombok.accessors.flagUsage

# 使用 lombok.accessors 时出现错误
lombok.accessors.flagUsage=ERROR